
.section__header-center {
    margin-top: var(--spacing-38);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);
    font-family: var(--alternative-font);
}
.title-center {
    font-size: var(--font-jumbo);
    font-weight: 700;
}
.text-center {
    font-size: var(--font-large);
    font-weight: 500;
    text-align: center;
}

.form__section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-24);
    margin: var(--spacing-68);
    font-family: var(--alternative-font);
}

.form__div-center {
    width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: 500;
}
.form__label {
    width: 200px;
}
.form__input {
    appearance: none;
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: solid 2px var(--primary-solid);
}

.form__section-center-terms {
    display: flex;
    justify-content: center;
    gap: var(--spacing-20);
    align-items: center;
    margin-bottom: var(--spacing-68);
}
.form__button {
    appearance: none;
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
}

.form__check-terms {
    appearance: none;
    width: 16px;
    height: 16px;
    border: solid 2px var(--dark-solid);
    border-radius: 4px;
}
.form__check-terms:checked {
    appearance: auto;
}
.form__label-terms {
    font-size: var(--font-small);
    font-weight: 500;
}
.form__link {
    color: var(--secondary-solid);
}

@media (max-width: 768px) {
    .titlec-center {
        font-size: var(--font-large);
        font-weight: 700;
    }
    .text-center {
        font-size: var(--font-medium);
        font-weight: 500;
    }
    
}

@media (max-width: 435px) {
    .form__div-center {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-8);
    }
    .form__div-center .form__label {
        align-self:flex-start;
    }
    .form__div-center .form__input {
        align-self:flex-end;
    }

    .form__section-center-terms {
        gap: var(--spacing-12);
        
        margin-bottom: var(--spacing-38);
    }
    .form__button {
        width: 100px;
        height: 37px;
        font-size: 14px;
    }
    .form__label-terms {
        font-size: 14px
    }
}