.main__shop {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "one two";
    margin: var(--spacing-68) auto;
    gap: var(--spacing-16);
}

.sidebar {
    grid-area: one;
}

.shop {
    grid-area: two;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
}

.form__section-sider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.form__label-title {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 500;
    
}

.form__sub-section-a {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
}

.form__sub-section-b {
    display: flex;
    flex-direction: column;
    margin: auto var(--spacing-16);
    gap: var(--spacing-8);
}

.form__option-box {
    height: var(--spacing-36);
    border: solid 2px var(--dark-solid);
    border-radius: 6px;
}

.form__option-box-s {
    height: var(--spacing-28);
    width: var(--spacing-68);
    border: solid 2px var(--dark-solid);
    border-radius: 6px;
    text-align: center;
}

.form__label-second {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    align-items: center;
    font-size: var(--font-small);
    font-weight: 500;
}

.form__option-box-xs {
    appearance: inherit;
    height: var(--spacing-28);
    width: var(--spacing-28);
    border: 2px solid var(--dark-solid);
    border-radius: 6px;
}

.form__option-box-xs:checked {
    appearance: auto;
}
.filter_icon{
    position: relative;
    display: none;
    align-items: center;
}
.filter_check {
    display: none;
}
.filter_icon img{
    width: 35px;
}

@media (max-width: 768px) {
    .main__shop {
        display: block;
        margin: var(--spacing-28) auto;
    }
    
    .filter_icon{
        display: flex;
        align-items: center;
        font-size: var(--font-medium);
    }
    .sidebar {
        padding: var(--spacing-8);
        background-color: var(--grey-900);
        position: absolute;
        left: -100%;
        z-index: 2;
        transition: all 0.7s ease-in-out;
    }

    .filter_check:checked ~ .sidebar{
        left: 5px;
    }
    
}